html {
  height: -webkit-fill-available;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 100px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0px 15px 0 15px;
  float: right;
  width: 665px;
}

.sidebar {
  width: 300px;
  float: left;
  padding: 5px 0 0 5px;
}

.rate {
  position: relative;
  display: flex;
  margin: 0 0 30px 0;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.list-item {
  display: flex;
  justify-content: center;
}

.search-header {
  padding: 5px;
  background-color: #55608f;
}

h1 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 4px;
  margin-top: 0;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 4px;
}

p {
  line-height: 16px;
}

body {
  color: white;
  background: linear-gradient(60deg, #49a09d, #5f2c82)
}
