html {
  height: -webkit-fill-available;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 100px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0px 15px 0 15px;
  float: right;
  width: 850px;
}

.sidebar {
  width: 300px;
  float: left;
  padding: 5px 0 0 5px;
}

.rate {
  position: relative;
  display: flex;
  margin: 0 0 30px 0;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.list-item {
  display: flex;
  justify-content: center;
}

.search-header {
  padding: 5px;
  background-color: #55608f;
  font-weight: bold;
  font-size: 20px;
}

.selected-curr {
  background: rgba(0,0,0,0.2);
}

h1 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 4px;
  margin-top: 0;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 4px;
}

p {
  line-height: 16px;
}

body {
  color: white;
  background: linear-gradient(60deg, #49a09d, #5f2c82)
}


.LoginContainerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.LoginForm {
  width: 420px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.LoginContent {
  padding-left: 12%;
  padding-right: 12%;
}

.LoginTitle {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.text-center {
  color: rgb(34, 34, 34);
}


.half-stars {
  text-align: center;
  margin: 15px;
}
.half-stars .rating-group {
  display: inline-flex;
}
.half-stars input {
  position: absolute;
  left: -9999px;
}
.half-stars label {
  margin: 0;
  cursor: pointer;
}
.half-stars label svg {
  margin: 2px;
  height: 40px;
  width: 40px;
  fill: #337AB7;
  transition: fill 0.3s;
}
.half-stars .hsr {
  padding-right: 0;
  margin-right: -22px;
  width: 22px;
  overflow: hidden;
  z-index: 2;
}
.half-stars input:checked ~ label svg {
  fill: #BFE2FF;
}